body {
  background-color: #62dafb;
}
button {
  padding: 10px 25px;
  background-color: orange;
color: #000;
border: solid 1px orange;
border-radius: 3px;
cursor: pointer;
font-weight: bold;
}
button:hover {
 background-color:orangered;
}